name: ML CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:

  train:
    runs-on: ubuntu-latest

    outputs:
      r2: ${{ steps.extract.outputs.r2 }}

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install pandas scikit-learn joblib numpy

    - name: Train Model
      run: |
        python scripts/train.py

    - name: Extract R2
      id: extract
      run: |
        R2=$(jq .R2_Score output/results.json)
        echo "r2=$R2" >> $GITHUB_OUTPUT

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-artifacts
        path: output/


  deploy:
    needs: train
    runs-on: ubuntu-latest

    if: needs.train.outputs.r2 > vars.BEST_R2

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: model-artifacts
        path: output/

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker Image
      run: |
        docker build -t suraj4466/wine_predict_2022bcs0051:latest .

    - name: Push Docker Image
      run: |
        docker push suraj4466/wine_predict_2022bcs0051:latest

    - name: Update BEST_R2 Variable
      run: |
        curl -X PATCH \
          -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/repos/${{ github.repository }}/actions/variables/BEST_R2 \
          -d '{"name":"BEST_R2","value":"${{ needs.train.outputs.r2 }}"}'