name: ML Training Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run training script
      run: |
        python train.py > output_log.txt

    - name: Add Metrics to Job Summary
      run: |
        echo "## Lab 2 Results" >> $GITHUB_STEP_SUMMARY
        echo "Name: Suraj Rathor" >> $GITHUB_STEP_SUMMARY
        echo "Roll No: 2022BCS0051" >> $GITHUB_STEP_SUMMARY
        cat output/results.json >> $GITHUB_STEP_SUMMARY

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: model-and-results
        path: output/
